<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="float: left;">
        <h1 style="display: inline;">
          <img style="width: 10%;" src="../../assets/to-do-list.png" align="left">
          My To Dos</h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<div id="heading">
  <h1 id="contentHeading" style="color:#3880ff;">
    <ion-icon name="reader-outline"></ion-icon>
    <span>Tasks List</span>
  </h1>
</div>
<div class="wrapper">
  <ion-button color="white" (click)='addNewList()'>
    <ion-icon slot="icon-only" name="add" style="color: black;"></ion-icon>
  </ion-button>
</div>
<div class="wrapper" style="margin-top: -7px;">
  <p style="font-weight: lighter;color: #808080;">Add List</p>
</div>
<ion-content>     
  <app-list-group [taskLists]="tasksList" (loadTasks)="getTaskList()"></app-list-group>
</ion-content>
